<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="../assets/images/logos/seodashlogo.png"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/simplebar/dist/simplebar.min.css"
    />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <%-include("aside")%>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <!-- <%-include("header")%> -->
        <!--  Header End -->
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="card">
                    <form class="form-horizontal" method="post" action="/verifyPass" >
                      <div class="card-body">
                        <div class="form-group row">
                          <h4 class="card-title">Ndw Password</h4> <br>
                          <label for="oldPass"
                                    class="col-sm-3 text-right control-label col-form-label">otp
                                    </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="firstname" name="otp"
                                        placeholder="otp Password Here">
                                </div>
                            </div> <br>
                            <div class="form-group row">
                                <label for="New"
                                    class="col-sm-3 text-right control-label col-form-label">new
                                    Password</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lname" name="newPass"
                                        placeholder="new Password Here">
                                </div>
                            </div> <br>
                            <div class="form-group row">
                                <label for="email1"
                                    class="col-sm-3 text-right control-label col-form-label">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="email1" name="confirmPass"
                                        placeholder="Confirm Password Here">
                                </div>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                
               
            </div>
            
        </div>
      </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>